body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.kleuren {
    color: rgb(0, 255, 34);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}